v-container(fluid fill-height)
  v-layout(align-center justify-center)
    v-flex(xs10 sm8 md6 class="text-xs-center")
  //-   v-bottom-sheet(v-model="sheet" class="text-xs-center")
  //-     v-btn(slot="activator" color="#ffb000" dark) Show search
  //-     v-card(tile)
  //-       keep-alive
  //-         appUserSearch
  //- keep-alive
  //-   appUserSearchList
