// #signin-form
//   background linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../../../assets/c1.jpg') no-repeat center
//   background-size cover

// .transparent
//   background-color white!important
//   opacity 0.8
//   border-color transparent!important
