@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

$body-font-family = 'Open Sans'

@import '~vuetify/src/stylus/theme.styl'

// $material-light.background = #FFF
// $material-dark.background = #9068be

@import '~vuetify/src/stylus/main'
