v-container(id="welcome" fluid fill-height)
  v-layout(align-center justify-center)
    v-flex(xs12 sm8 md6 class="text-xs-center")
      h4(class="display-1") Meet new and interesting people nearby.
      br
      v-btn(depressed color="primary" large to="signin" class="text-capitalize") Signin
