v-container(fluid fill-height)
  v-layout(align-center justify-center)
    v-flex(class="text-xs-center")
      h1 404 Not Found
      img(src="https://media.giphy.com/media/3ohhwMfw0rU0LQfFeg/source.gif")
